* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #444343;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #151414;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.btn-primary {
    border: 1px solid #F15B22;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFF;
    font-size: 20px;
    padding: 12px 25px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}

/* Header Banner */
.header {
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding: 190px 0;
    margin-bottom: 120px;
}

.header-content {
    max-width: 500px;
    margin-left: auto;
}

.header-content h1 {
    font-size: 65px;
}

/* About Section */
.about {
    margin-bottom: 120px;
}

.about-content {
    align-items: center;
}

.about-content div {
    width: 50%;
}

.about-services li {
    padding-left: 30px;
    background-image: url("../images/icons/check-mark.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
}

.about-services li:not(:last-child) {
    margin-bottom: 8px;
}

.about-content p {
    max-width: 400px;
}

/* Plan Section */
.plans {
    margin-bottom: 120px;
}

.plan-item {
    width: 25%;
}

.plan-item p {
    font-size: 25px;
    color: #737272;
}